    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>

    <form name="info" method="get" action="/">
    <p>
    Your name: <input type="text" name="userName" size="20"/><br />
    Age: <input type="text" name="years" size="5" />
    </p>
    <p>
    <input type="submit" value="Send Data" />
    </form>

    <% if (userName) { %>
    <p>
    Welcome, <%= userName %>!
    </p>
    <% } %>

    <% if (days) { %>
    <p>
    You are about <%= days %> days old.
    </p>
    <% } %>
    
    <p>
    <a href="/booklist">Go to book list</a>
    </p>
  </body>
</html>
